<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Vehicle Assistance</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <% if (typeof extraStyles !== 'undefined') { %> <%- extraStyles %> <% } %>

    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="">
    <% if (user) { %> <%- include('./partials/navbar') %> <% } %>
    <div class="container mt-4">
      <%- include('./partials/messages') %> <%- body %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/main.js"></script>
    <% if (typeof extraScripts !== 'undefined') { %> <%- extraScripts %> <% } %>
  </body>
</html>
